线性回归练习

In [13]:


from  sklearn.linear_model import LinearRegression
import pandas as pd
import numpy   as np
data={
    "year":[1,2,3,4,5,6,7,8,9,10],
    "salary":[2000,2500,3000,3200,3600,4800,5000,5200,6000,7000]
}

df=pd.DataFrame(data)
df

   year  salary
0     1    2000
1     2    2500
2     3    3000
3     4    3200
4     5    3600
5     6    4800
6     7    5000
7     8    5200
8     9    6000
9    10    7000

In [15]:
model=LinearRegression()
model.fit(
    df[["year"]],
    df[["salary"]]
)
LinearRegression()
model.intercept_

array([1326.66666667])

In [6]:
model.coef_

array([[527.87878788]])

In [10]:
f"y={model.intercept_[0]}+{model.coef_[0][0]}x"

'y=1326.6666666666679+527.8787878787876x'